In [22]:
import mlflow
from mlflow.environment_variables import (
    MLFLOW_S3_ENDPOINT_URL,
)

MLFLOW_S3_ENDPOINT_URL.set("http://localhost:9000")

mlflow.set_tracking_uri("http://localhost:5000")
logged_model = 'runs:/422b361233854f00ba7797a1b712fbd4/models/model'

# Load model as a PyFuncModel.
loaded_model = mlflow.pyfunc.load_model(logged_model)

# Predict on a Pandas DataFrame.
import pandas as pd
model_input = pd.DataFrame(data={"f0": [0], "f1": [1], "f2": [2]})
loaded_model.predict(model_input)

array([131.26041143])

In [16]:
model_input

   f0  f1  f2  f3  f4  f5  f6  f7  f8  f9
0   0   1   2   3   4   5   6   7   8   9